.add-category {
	color: white;
	font-weight: 500;
	border: 1px solid green;
	background-color: #4caf50;
	padding: 3px 10px;
	border-radius: 3px;
	margin: 20px 0 0px 15px;
	cursor: pointer;
}

.table {
	width: 100%;
	border-collapse: collapse;
	margin: 20px 0;
	text-align: left;
	.header {
		padding: 10px;
		border-bottom: 1px solid #ddd;
	}

	.cell {
		padding: 10px;
		border-bottom: 1px solid #ddd;
	}
	
	tr:hover {
		background-color: #ddd;
	}

	.button-table {
		background-color: var(--orange-color);
		color: white;
		border: none;
		padding: 5px 10px;
		border-radius: 4px;
		cursor: pointer;
	}
}

.add-cate {
	display: flex;
	padding-left: 20px;
	margin-top: 20px;
	input {
		padding: 5px 10px;
		margin-right: 10px;
		width: 300px;
	}
	button {
		padding: 5px;
		margin: 0 5px;
		font-size: 0.8rem;
		background-color: rgb(255, 255, 255);
		border: 1px solid gray;
		cursor: pointer;
	}

	.add {
		color: green;
	}

	.cancel {
		color: var(--main-color);
	}

	button:hover {
		background-color: var(--light-color);
	}
}

.delete-category-btn {
	padding: 5px 10px;
	background-color: white;
	border: 1px solid red;
	color: red;
	margin-bottom: 10px;
	cursor: pointer;
}

.category {
	padding: 5px;
	border: 2px solid rgb(212, 212, 212);
	border-right: none;
	width: 10%;
	display: flex;
	text-align: center;
	justify-content: center;
	align-items: center;
	font-weight: 500;
	font-size: 1.2rem;
	text-decoration: underline;
	cursor: pointer;
}

.sub-category {
	border: 1px solid rgb(212, 212, 212);
	width: 100%;
	div {
		.sub-category-name {
			width: 20%;
			padding: 5px 10px;
			border: 1px solid rgb(212, 212, 212);
		}

		.sub-category-info {
			width: 100%;
			div {
				p {
					width: 30%;
					padding: 5px 10px;
					border: 1px solid rgb(212, 212, 212);
				}
				div {
					width: 70%;
					padding: 5px 10px;
					border: 1px solid rgb(212, 212, 212);
					display: flex;
					flex-wrap: wrap;
					p {
						border: none;
						width: fit-content;
						padding: 5px;
					}
				}
			}
		}
	}
}

.search {
	display: flex;
	align-items: center;
	input {
		padding: 5px 10px;
		width: 400px;
		margin-right: 10px;
	}
	button {
		padding: 7px;
		font-size: 0.8rem;
		background-color: var(--main-color);
		border: 1px solid gray;
		cursor: pointer;
		color: white;
		font-weight: 500;
	}

	button:hover {
		background-color: rgb(104, 96, 13);
	}
}

.input {
	width: 95%;
}

.add-modal {
	.select-cate {
		padding: 5px 10px;
	}

	.add-btn {
		padding: 0;
		width: 25px;
		height: 25px;
		background-color: transparent;
		font-size: 1.6rem;
		border: 1px solid rgb(77, 114, 20);
		margin-left: 10px;
		cursor: pointer;
		color: rgb(77, 114, 20);
		vertical-align: middle;
	}

	.add-input {
		display: flex;
		input {
			padding: 5px 10px;
		}
		button {
			padding: 5px;
			font-size: 0.8rem;
			background-color: rgb(255, 255, 255);
			border: 1px solid gray;
			cursor: pointer;
		}

		button:hover {
			background-color: var(--light-color);
		}
	}
}

.info-btn {
	display: flex;
	align-items: center;
	margin-bottom: 5px;
	padding: 5px 10px;
	border: 1px solid gray;
	margin-right: 10px;
	border-radius: 5px;
	text-align: center;
	width: fit-content;
	cursor: pointer;
	height: fit-content;
	color: rgb(169, 169, 169);
	z-index: 1;

	p {
		color: gray;
		font-weight: 500;
		background-color: transparent;
		cursor: pointer;
		font-size: 0.6rem;
		margin-left: 10px;
		z-index: 100;
	}
}
.active {
	padding: 5px 10px;
	border: 2px solid var(--main-color);
	margin-right: 10px;
	border-radius: 5px;
	text-align: center;
	width: fit-content;
	cursor: pointer;
	color: black;
	font-weight: 500;
	background-color: var(--light-color);
}
