.waiting {
	background-color: rgb(214, 187, 12);
	padding: 0px 5px;
	color: rgb(0, 0, 0);
	border-radius: 3px;
	font-size: 0.9rem;
	text-align: center;
}
.approved {
	background-color: rgb(134, 255, 123);
	padding: 0px 5px;
	color: rgb(0, 0, 0);
	border-radius: 3px;
	font-size: 0.9rem;
	text-align: center;
	height: 50px;
}
.reject {
	background-color: rgb(255, 124, 80);
	padding: 0px 5px;
	color: rgb(0, 0, 0);
	border-radius: 3px;
	font-size: 0.9rem;
	text-align: center;
}
.selled {
	background-color: rgb(255, 245, 108);
	padding: 0px 5px;
	color: rgb(0, 0, 0);
	border-radius: 3px;
	font-size: 0.9rem;
	text-align: center;
	font-weight: 500;
}
.closed {
	background-color: rgb(186, 184, 184);
	padding: 0px 5px;
	color: rgb(0, 0, 0);
	border-radius: 3px;
	font-size: 0.9rem;
	text-align: center;
}

.link-detail {
	cursor: pointer;
	text-decoration: underline;
	color: black !important;
}
